.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  height: 100vh;
}

.header {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.file {
  margin: 40px;
}
