.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  
  font-size: calc(10px + 2vmin);
  margin: 0;
}

.section {
  margin-bottom: 20px;
}

.image {
  max-height: 300px;
}